@import "tailwindcss";

:root {
  --gray-1: #f9faf9;
  --gray-2: #eff1f3;
  --gray-3: #dbdee5;
  --gray-4: #b5bcc5;
  --gray-5: #87939e;
  --gray-6: #697179;
  --gray-7: #54565b;
  --gray-8: #404045;
  --gray-9: #2c2b30;
  --gray-10: #1a1a1e;

  --gold-1: #fbfaf4;
  --gold-2: #f9efbb;
  --gold-3: #f1db81;
  --gold-4: #ddb74f;
  --gold-5: #c18c2b;
  --gold-6: #a36d16;
  --gold-7: #86540e;
  --gold-8: #673f0d;
  --gold-9: #472c0b;
  --gold-10: #2f1b09;

  --purple-1: #f7fafb;
  --purple-2: #e5f0fc;
  --purple-3: #c8d9fa;
  --purple-4: #a0b6f2;
  --purple-5: #7c8ee8;
  --purple-6: #6569e0;
  --purple-7: #524cd0;
  --purple-8: #3f39af;
  --purple-9: #2b2781;
  --purple-10: #181850;

  --green-1: #ecf4f1;
  --green-2: #caf0ea;
  --green-3: #8ceace;
  --green-4: #50d29f;
  --green-5: #18b66d;
  --green-6: #109f43;
  --green-7: #0f8b32;
  --green-8: #106c2a;
  --green-9: #0d4b22;
  --green-10: #092e1c;

  --red-1: oklch(100% 0 none);
  --red-2: oklch(98.894% 0.00534 17.247);
  --red-3: oklch(90.231% 0.05076 18.134);
  --red-4: oklch(81.881% 0.10186 19.49);
  --red-5: oklch(74.445% 0.15501 21.504);
  --red-6: oklch(66.761% 0.21943 25.422);
  --red-7: oklch(63.133% 0.25425 28.82);
  --red-8: oklch(55.208% 0.22655 29.234);
  --red-9: oklch(44.115% 0.18103 29.234);
  --red-10: oklch(38.304% 0.15718 29.234);

  --blue-1: oklch(95.063% 0.01774 275.64);
  --blue-2: oklch(86.339% 0.05206 275.65);
  --blue-3: oklch(77.567% 0.08853 274.86);
  --blue-4: oklch(69.09% 0.12536 273.52);
  --blue-5: oklch(60.52% 0.16473 271.63);
  --blue-6: oklch(49.728% 0.2167 267.82);
  --blue-7: oklch(41.637% 0.19368 267.34);
  --blue-8: oklch(33.824% 0.1516 267.58);
  --blue-9: oklch(25.51% 0.10437 268.52);
  --blue-10: oklch(21.031% 0.07931 269.78);

  --orange-1: oklch(100% 0 none);
  --orange-2: oklch(95.88% 0.03487 77.095);
  --orange-3: oklch(91.701% 0.06988 75.867);
  --orange-4: oklch(87.705% 0.10417 75.059);
  --orange-5: oklch(83.96% 0.13445 73.344);
  --orange-6: oklch(79.365% 0.16408 68.519);
  --orange-7: oklch(72.384% 0.1658 62.525);
  --orange-8: oklch(59.49% 0.13475 63.827);
  --orange-9: oklch(45.66% 0.10225 65.241);
  --orange-19: oklch(38.249% 0.08523 65.884);

  --sky-1: oklch(94.283% 0.03168 236.33);
  --sky-2: oklch(88.555% 0.06546 235.37);
  --sky-3: oklch(82.911% 0.09817 236.93);
  --sky-4: oklch(75.821% 0.13851 239.97);
  --sky-5: oklch(69.967% 0.16939 244.58);
  --sky-6: oklch(61.279% 0.16089 246.93);
  --sky-7: oklch(49.543% 0.12868 246.45);
  --sky-8: oklch(43.539% 0.1113 245.73);

  --color-primary: var(--purple-7);
  --color-primary-hover: var(--purple-6);
  --color-primary-active: var(--purple-5);

  --color-secondary: var(--gray-8);
  --color-secondary-hover: var(--gray-7);
  --color-secondary-active: var(--gray-6);

  --color-accent: var(--gold-7);
  --color-accent-hover: var(--gold-6);
  --color-accent-active: var(--gold-5);

  --color-info: var(--sky-5);
  --color-error: var(--red-6);
  --color-success: var(--green-6);
  --color-warning: var(--orange-6);

  --color-border: var(--gray-6);
  --color-border-hover: var(--gray-5);
  --color-border-focused: var(--purple-5);
  --border-outline-width: 2px;

  --text-primary: var(--purple-1);
  --text-muted: var(--gray-6);
  --text-on-primary: var(--purple-1);
  --text-error: var(--red-7);
  --text-success: var(--green-5);
  --text-warning: var(--orange-5);

  --bg-page: var(--gray-10);
  --bg-card: var(--gray-9);
  --bg-overlay: oklch(0% 0 none / 0.5);
  --bg-elevated: oklch(100% 0 none);

  --radius: 10px;
}

:root {
  --button-bg-primary: var(--color-primary);
  --button-bg-primary-hover: var(--color-primary-hover);
  --button-bg-primary-active: var(--color-primary-active);

  --button-bg-accent: var(--color-accent);
  --button-bg-accent-hover: var(--color-accent-hover);
  --button-bg-accent-active: var(--color-accent-active);

  --button-bg-secondary: var(--color-secondary);
  --button-bg-secondary-hover: var(--color-secondary-hover);
  --button-bg-secondary-active: var(--color-secondary-active);

  --button-padding-y: 0.5rem;
  --button-padding-x: 0.75rem;
  --button-radius: var(--radius);
}

:root {
  --table-bg: var(--gray-10);
  --table-header-bg: var(--color-secondary);
  --table-header-bg-hover: var(--color-secondary-hover);
  --table-header-bg-active: var(--color-secondary-active);
  --table-header-bg-sorted: var(--color-primary);
  --table-header-bg-sorted-hover: var(--color-primary-hover);
  --table-header-bg-sorted-active: var(--color-primary-active);
  --table-row-hover: var(--gray-8);

  --table-border: var(--color-border);
  --table-radius: var(--radius);
}

:root {
  --input-bg: var(--gray-10);
  --input-border-color: var(--color-border);
  --input-border-color-hover: var(--color-border-hover);
  --input-border-color-focused: var(--color-border-focused);
  --input-padding-y: 0.5rem;
  --input-padding-x: 0.75rem;
  --input-radius: var(--radius);
}

:root {
  --select-bg: var(--gray-10);
  --select-border-color: var(--color-border);
  --select-border-color-hover: var(--color-border-hover);
  --select-border-color-focused: var(--color-border-focused);
  --select-padding-y: 0.5rem;
  --select-padding-x: 0.75rem;
  --select-radius: var(--radius);

  --select-dropdown-bg: var(--gray-9);
  --select-dropdown-padding: 0.25rem;

  --select-item-hover: var(--color-secondary-hover);
  --select-item-active: var(--color-secondary-active);
}

:root {
  --checkbox-padding: 1px;
  --checkbox-bg: var(--gray-10);
  --checkbox-bg-checked: var(--purple-6);
  --checkbox-radius: 5px;
  --checkbox-border-color: var(--color-border);
  --checkbox-border-color-hover: var(--color-border-hover);
}

:root {
  --dialog-bg: var(--gray-9);
  --dialog-padding: 1rem;
  --dialog-border-color: var(--color-border);
  --dialog-radius: var(--radius);
}

html,
body {
  color: var(--text-primary);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-4);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
